{% extends "todo/base.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="table-responsive-md">
            <table class="table table-secondary table-striped table-hover caption-top">
                <caption><h2>Current Tasks</h2></caption>
                <thead>
                    <tr>
                        <th scope="col">Created</th>
                        <th scope="col">Important</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <th scope="row">{{ todo.created }}</th>
                        <td class="align-middle">{% if todo.important %}<span class="badge rounded-pill bg-danger">High Priority</span>{% else%}<span class="badge rounded-pill bg-secondary">Low Priority</span>{% endif %}</td>
                        <td><a href="{% url 'viewtodo' todo.id %}">{{ todo.title }}</a></td>
                        <td>{{ todo.description|truncatewords:15 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
</div>
{% endblock %}}