{% extends "todo/base.html" %}
{% load static %}

{% block title %}Current Tasks{% endblock %}

{% block content %}
<nav class="mt-2" style="--bs-breadcrumb-divider: '>'; font-weight: 800;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="badge rounded-pill bg-dark">Home</span></a></li>
    <li class="breadcrumb-item active"><span class="badge rounded-pill bg-primary">Current</span></li>
  </ol>
</nav>

<div class="row justify-content-md-center mt-3">
    <div class="col-md">
        <div class="table-responsive-md">
            <table class="table table-secondary table-striped table-hover caption-top">
                <caption><h2>Current Tasks</h2></caption>
                <thead>
                    <tr>
                        <th scope="col">Created</th>
                        <th scope="col">Important</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr class="align-middle">
                        <th scope="row">{{ todo.created }}</th>
                        <td>{% if todo.important %}<span class="badge rounded-pill bg-danger">High Priority</span>{% else %}<span class="badge rounded-pill bg-secondary">Low Priority</span>{% endif %}</td>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.description|truncatewords:10 }}</td>
                        <td>
                            <div class="btn-group" role="group">
                            <button class="btn btn-success" type="button"><i class="bi bi-check"></i></button>
                            <a href="{% url 'viewtodo' todo.id %}" class="btn btn-secondary" type="button"><i class="bi bi-eye"></i></a>
                            <button class="btn btn-danger" type="button"><i class="bi bi-x-square"></i></button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
</div>
{% endblock %}}