{% extends "todo/base.html" %}
{% load static %}

{% block content %}
<div class="text-center mt-5">
    <img src="{% static 'todo/logo.png' %}" alt="" width="50" height="50">
</div>
<div class="row justify-content-md-center mt-3">
    <div class="col-md-5">
        <h2 class="text-center">Account Creation</h2>
    </div>
</div>
<div class="row justify-content-md-center mt-3">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating mb-2">
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" name="password1" class="form-control" id="password1" placeholder="Password" required>
                <label for="password1">Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm password" required>
                <label for="password2">Confirm Password</label>
            </div>
            <div class="form-group form-check mb-2">
                <input type="checkbox" name="important" class="form-check-input" id="RememberMe">
                <label class="form-check-label" for="important">Remember Me?</label>
            </div>
            <div class="d-grid">
            <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}