{% extends "todo/base.html" %}
{% load static %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Created</th>
            <th scope="col">Important</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <th scope="row">{{ todo.created }}</th>
            <td>{% if todo.important %}<i class="bi bi-exclamation-square-fill"></i>{% else%}<i class="bi bi-square"></i>{% endif %}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}}