{% extends "todo/base.html" %}
{{% load static %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
</div>
</div>
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-flex justify-content-center mb-4">
        <img src="{% static 'todo/logo.png' %}" alt="" width="60" height="60">
    </div>
    <div class="container mb-3">
        <h4 class="text-center">Sign Up</h4>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-2">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password1" class="form-control" name="password1" id="password1" placeholder="Password1">
            <label for="password1">Password</label>
        </div>
        <div class="form-floating">
            <input type="password2" class="form-control" name="password2" id="password2" placeholder="Password2">
            <label for="password2">Confirm password</label>
        </div>
        <hr>
        <div class="d-grid gap-2 mx-auto">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
    </form>
</div>

{% endblock %}